<div class="lg:px-20 lg:py-10 px-4 py-5 flex lg:flex-row flex-col relative items-center">
  <img
    src="assets/Rectangle 36.png"
    class="absolute inset-0 w-full h-full object-cover -z-10"
    alt=""
  />

  <div
    class="backdrop-blur-2xl bg-white/20 lg:p-10 p-5 border gap-5 lg:gap-0 border-white/30 rounded-xl justify-between shadow-xl lg:flex-row flex-col flex"
  >
    <div class="lg:w-1/2 flex flex-col items-start gap-3">
      <h1 class="font-lexend text-[#FAA316] font-bold text-xl font-semibold">
        Become an agent!
      </h1>
      <h2 class="font-lexend font-semibold text-3xl text-white">
        Build Your Future
      </h2>
      <p class="font-lexend font-bold font-medium text-base text-white">
        Join our team of dedicated insurance professionals and help families
        secure their financial future. We provide comprehensive training,
        ongoing support, and competitive compensation.
      </p>
      <button
        class="text-white bg-[#FAA316] font-lexend p-2 rounded-md text-white"
      >
        Click here to apply!
      </button>
    </div>

    <div
      class="font-inter font-bold text-3xl lg:w-2/5 flex flex-col lg:items-center backdrop-blur-2xl bg-[#D9D9D9]/20 p-10 border border-white/30 rounded-xl shadow-xl"
    >
      <p class="text-white font-lexend font-medium text-2xl">Join Our Network</p>

      <div class="lg:w-2/3 text-base font-lexend font-normal text-white">
        <p>✓ Flexible working hours</p>
        <p>✓ Comprehensive training</p>
        <p>✓ Competitive commissions</p>
        <p>✓ Ongoing support</p>
      </div>
    </div>
  </div>
</div>
