<div class="bg-[#111b27] lg:px-10 px-4 py-5 lg:py-14">
  <div class="flex lg:flex-row flex-col gap-4 lg:gap-0 lg:items-center mb-10 justify-between">
    <div class="flex items-center gap-5">
      <img src="assets/Group 20.png" alt="" />
      <div class="flex flex-col gap-2">
        <p class="text-[#FAA316] text-xl font-semibold font-lexend">
          Become an agent
        </p>
        <p class="text-white text-3xl font-lexend font-black w-2/3">
          Build Your Future
        </p>
      </div>
    </div>
    <div>
      <a
        href="https://legacylifeassure.com/careers/"
        target="_blank"
        class="text-white px-4 py-1.5 rounded-md bg-[#FAA316] text-xl font-lexend font-semibold"
      >
        Click here to apply!
      </a>
    </div>
  </div>

  <div>
    <div>
      <p class="lg:w-1/2 font-lexend font-normal text-xl text-white">
        Legacy Life Assure is committed to providing trusted, affordable life
        insurance solutions to protect what matters most, your future and your
        family
      </p>

      <div class="flex lg:flex-row flex-col text-white w-full gap-4 lg:gap-96 mt-10 font-lexend">
        <div class="flex flex-col gap-5">
          <h3 class="text-2xl font-medium mb-4">Build Your Future</h3>
          <ul class="text-[#23A455] text-xl flex mb-4 flex-col gap-4">
            <a
              href="https://legacylifeassure.com/elementor-page-4682/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <li>Resources</li>
            </a>
            <a
              href="https://legacylifeassure.com/faqs/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <li>FAQs</li>
            </a>
            <a
              href="https://legacylifeassure.com/privacy-policy/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <li>Privacy and Policy</li>
            </a>
            <a
              href="https://legacylifeassure.com/terms-and-conditions/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <li>Terms and conditions</li>
            </a>
          </ul>

          <div>
            <h4 class="text-2xl font-lexend w-full">
              Follow All Our Page to Learn More
            </h4>
            <div class="flex items-center gap-6 mt-4">
              <a
                href="https://web.facebook.com/people/Legacy-Life-Assure/61579041294206/"
                target="_blank"
                class="block"
              >
                <img
                  src="assets/facebook 1.png"
                  alt="facebook logo"
                  class="w-8 h-8"
                />
              </a>

              <a
                href="https://www.instagram.com/legacylifeassure?igsh=ZG9wZWk5aHZ0M3E2"
                target="_blank"
                class="block"
              >
                <img
                  src="assets/instagram 1.png"
                  alt="instagram logo"
                  class="w-8 h-8"
                />
              </a>
              <a
                href="https://www.linkedin.com/in/worziyan-mavolo-4a1a11377/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                class="block"
              >
                <img
                  src="assets/linkedin 1.png"
                  alt="linkedin logo"
                  class="w-8 h-8"
                />
              </a>
            </div>
          </div>
        </div>
        <div>
          <h3 class="text-2xl mb-3 font-medium">Build Your Future</h3>

          <ul class="text-[#FFFFFF] mb-4 flex flex-col gap-4">
            <li>
              <span class="flex items-center gap-3">
                <img src="assets/Vector (1).png" alt="" />
                <p class="font-lexend text-xl font-normal text-[#6e6e6e]">
                  Park Avenue, piscataway NJ USA, 08854
                </p>
              </span>
            </li>
            <li>
              <span class="flex items-center gap-3">
                <img src="assets/phone-call 2.png" alt="" />
                <a
                  href="tel:+19087201060"
                  class="font-lexend text-xl font-normal text-[#6e6e6e] hover:text-[#FAA316] transition-colors"
                >
                  +19087201060
                </a>
              </span>
            </li>
          </ul>

          <div>
            <h3 class="text-2xl font-medium">Open Hours:</h3>
            <span>
              <p class="font-lexend text-[#6e6e6e] text-xl font-light">
                Mon – Sat: 9 am – 5 pm,
              </p>
              <p class="text-[#6e6e6e] text-xl font-light">
                Sunday: CLOSED
              </p></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="font-lexend py-2 text-[#23A455] text-center">
  &copy; {{ year }} All rights reserved by
  <a
    href="http://legacylifeassure.com"
    target="_blank"
    rel="noopener noreferrer"
  >
    <strong><span> Legacy Life Assure. </span></strong>
  </a>
</p>
